body{
  display: flex;
  background: url(img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: aqua;
}
.wrapper
{
  width: 350px;
  height: 450px;
  background:transparent ;
  border:2px solid rgb(40, 9, 153);
  backdrop-filter: blur(5px);
  color: rgb(36, 175, 175);
  border-radius: 30px;
  padding: 30px 40px;
}

.wrapper h1
{
  font-size: 30px;
  text-align: center;
  color: rgb(4, 25, 25);
}

.wrapper .input-box
{
  width: 90%;
  height: 50px;
  margin: 30px 0;
}

.input-box input
{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(36, 175, 175);
  border-radius: 30px;
  font-size: 15px;
  color: rgb(26, 255, 0);
  padding: 5px 5px 5px 20px;
}
.input-box input::placeholder
{
  color: rgb(214, 214, 214);
}

.wrapper .fogot-pass
{
  display: flex;
  justify-content: right;
  font-size: 20px;
  margin: -5px 0 15px;
}

.fogot-pass a
{
  color:rgb(36, 175, 175);
}

.fogot-pass a:hover
{
  text-decoration: underline;
}
.wrapper .btn
{
  width:100%;
  height: 45px;
  background-color: rgb(36, 175, 175);
  border: none;
  outline: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: rgb(6, 13, 13);
  font-weight: 600;
}
.wrapper .register
{
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;

}
.register a
{
  color: rgb(36, 175, 175) ;
  text-decoration: none;
  font-weight: 600;
}
.register a:hover
{
  text-decoration: underline;
}